body {
    background-color: #aeaeae;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #000;
}

.wrapper {
    width: 70%;
    max-width: 600px;
    margin: 60px auto;
}

.tabs_menu {
    display: inline-block;
    padding: 15px 40px;
    list-style: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #e6c9bb;         
    opacity: 0.7;    
}

.tabs_menu.active, 
.tabs_menu.active .tabs_link {
    font-weight: bold;
    color: #884C02;
    opacity: 1;
}

.tabs_link {
    text-decoration: none;
    color: #7b7d7d;    
}

.tabs_link:hover {
    color: #000;
}

.tab_content {
    width: 100%;     
    min-height: 200px;
    padding: 50px;
    background-color: #e6c9bb;
    box-sizing: border-box; 
    color: #884C02;    
}

.form_item {
    width: 250px;
    margin-bottom: 10px;
}

.form_input {
    float: right;
}

.show_botton {
    width: 100px;
    height: 30px;
    margin: 5px 0 0 120px;
    cursor: pointer;
    color: #884C02;
}